
<div class= "container">
  <div class= "row">
    <% @tasks.each do |t| %>
      <div class = "col">
        <%= t.name %>
        <%= image_tag t.photo, class: 'image-responsive' %>
      </div>
    <% end %>
  </div>
</div>
